@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.profile{
    background: url(red-thread-5548304.jpg) no-repeat;
    background-size: 55%;
    /* background-color: ; */
    overflow: hidden;
    padding: 80px 0;
}
.inner-section{
    width: 55%;
    float: right;
    background-color:  rgb(81,67,64);
    padding: 30px;
    box-shadow: 12px 12px 8px rgba(0,0,0,0.3);
}
.inner-section h1{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 900;
    color: white;
}
.text{
    font-size: 16px;
    color: white;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 5px;
}
@media screen and (max-width: 120px) {
    .inner-section{
        padding: 80px;
    }
}
@media screen and (max-width: 1000px) {
    .profile{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-section{
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .profile{
        padding: 0%;
    }
    .inner-section{
        padding: 60px;
    }
}


